<!DOCTYPE html>
<html>
<head>
  <title>HibikoKubi</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/header' %>
<h2>このサービスはお前は仕事でうまくやっていけるけどお前や無理やでっていうのを判別してくれるアプリです。仕事ができない人はニートになり朽ち果てましょう！</h2>

<a href="/result">
  <button class="tweet red">判定</button>
</a>
<%= render 'layouts/footer' %>
</body>
</html>